---
import Badge from "./Badge.astro";

const PROJECTS = [
    {
        title: "Project 1",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna nunc, convallis vitae tempor sit amet, ullamcorper efficitur lorem. In orci sapien, facilisis ut vestibulum eget, lacinia eget orci. Maecenas nisl arcu, posuere auctor ante id, pretium mollis elit. Mauris ultrices nec purus at scelerisque. Sed in venenatis urna. Integer efficitur, nulla sed dignissim venenatis, mauris leo commodo dui, ut volutpat risus quam ac turpis. Vivamus auctor finibus elit, vitae vestibulum eros mattis ut. Maecenas sodales egestas odio, non sagittis ante molestie sit amet. Mauris mattis convallis nibh, et pellentesque dui tempor at. Phasellus vel turpis eros.",
        link: "",
        github: "",
        image: "/projects/project1.webp",
        tags: ["HTML", "CSS", "JavaScript"],
    },
    {
        title: "Project 2",
        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna nunc, convallis vitae tempor sit amet, ullamcorper efficitur lorem. In orci sapien, facilisis ut vestibulum eget, lacinia eget orci. Maecenas nisl arcu, posuere auctor ante id, pretium mollis elit. Mauris ultrices nec purus at scelerisque. Sed in venenatis urna. Integer efficitur, nulla sed dignissim venenatis, mauris leo commodo dui, ut volutpat risus quam ac turpis. Vivamus auctor finibus elit, vitae vestibulum eros mattis ut. Maecenas sodales egestas odio, non sagittis ante molestie sit amet. Mauris mattis convallis nibh, et pellentesque dui tempor at. Phasellus vel turpis eros.",
        link: "",
        github: "",
        image: "https://via.placeholder.com/300x200",
        tags: ["HTML", "CSS", "JavaScript"],
    },
];
---

{
    PROJECTS.map(({ title, description, tags, github, image }) => (
        <article class="flex-col items-center pb-4 mb-10 gap-x-4 ">
            <h3 class="text-2xl font-bold text-yellow-100/80 mb-5">{title}</h3>
                <p class="text-pretty mb-3">{description}</p>
                <img class="mb-5 mt-4 rounded shadow-xl shadow-yellow-100/5" src={image} alt=`${title} project's screenshot ` />
            <ul class="flex gap-x-4">
                {tags.map((tag) => (
                    <li><Badge>{tag}</Badge></li>
                ))}
            </ul>
        </article>
    ))
}
