---
import Badge from "./Badge.astro";

const PROJECTS = [
    {
        title: "Portfolio DEV",
        description: "Developed with Astro and TailwindCSS. As a backend developer this was my first time using frontend technology. It was fun learning ASTRO and it has motivated me to keep trying new things. At first it was difficult to change my mindset from backend "
        + "to this, but it was worth the work because now I know I can create a whole application.",
        link: "",
        github: "",
        image: "/projects/project1.webp",
        tags: ["HTML", "TailwindCSS", "ASTRO"],
    },
    
];
---

{
    PROJECTS.map(({ title, description, tags, github, image }) => (
        <article class="flex-col items-center pb-4 mb-10 gap-x-4 ">
            <h3 class="text-2xl font-bold text-yellow-100/80 mb-5">{title}</h3>
                <p class="text-pretty mb-3">{description}</p>
                <img class="mb-5 mt-4 rounded shadow-xl shadow-yellow-100/5" src={image} alt=`${title} project's screenshot ` />
            <ul class="flex gap-x-4">
                {tags.map((tag) => (
                    <li><Badge class="font-semibold text-base">{tag}</Badge></li>
                ))}
            </ul>
        </article>
    ))
}
